@font-face{    
    font-family: "Raleway";
    src: url("police/Raleway-VariableFont_wght.ttf"),
            url("police/Raleway-Italic-VariableFont_wght.ttf");
}

body{
    font-family: "Raleway", Arial, Verdana, sans-sérif;
    margin: auto;
    padding: 0;
    border: solid 2px blue;
}


a .fullclick {
    display: block;
}

header{
    display: flex;
    align-items: center;
    padding: 0% 0%;
    font-size: 1em;
    margin-bottom: 30px;
}

header div:nth-child(1){
    width: 75%;
    padding: 0% 2%
}

header div:nth-child(3){
    padding-right: 2%;
}

@media screen and (max-width: 768px){
    header div:nth-child(1){
        width: 25%;
        text-align: center;
    }  
    header div:nth-child(3){
        width: 25%;
        text-align: center;
    }
}
 
header nav{
    display: block;
    margin: 0;
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav li{
    display: block;
    margin-right: 60px;
    padding: 10% 0;
}

header nav li:hover{
    border-top: solid 1px #0065FC;
}

header a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
    
}

header p{
    font-weight: bold;
    color: #0065FC;
}

#logoreservia img{
    height: 50px;
    width: 100px;
}

#navigation{
    display: flex;
    align-items: center;
}

main{
    padding: 0 2%;
}

@media (max-width: 768px){
    main{
        padding: 0;
        margin: 0;
    }
}

main p{
    font-size: 1em;
    margin-top: 2px;
}

main h3{
    margin: 0;
}

main a{
    text-decoration: none;
    color: black;
}

form{
    display: flex;
    align-self: center;
    white-space: nowrap;
    border: solid 2px black; 
}

input{
    padding-left: 10px;
    border: white;
}

input:focus{
    outline: none;
}

#recherche{
    margin-bottom: 40px;
}

@media (max-width: 768px){
    #recherche{
        padding-left: 2%;
    }
}

.fa-map-marker-alt{
    font-size: 1.1em;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    height: 20px;
    width: 20px;
    padding: 15px;
} 

#destination{
    height: 50px;
    border: solid 1px #f2f2f2;
}

#boutondestination{
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 135px;
}

@media all and (max-width: 768px){
    #boutondestination{
        background-color: #0065FC;
        height: 50px;
        max-width: 50px;
        min-width: 50px;
        font-size: 0;
        background-image: url(images/logo/search-solid.png);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin-left: -10px;
    }
}

#filtre{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#filtre ul{
    display: flex;
}

@media all and (max-width: 768px){
    #filtre{
        flex-wrap: wrap; 
    }

    #filtre ul{
        flex-wrap: wrap;
        padding: 0;
    }

}

#filtre li{
    display: inline;
    white-space: nowrap;
    margin-right: 25px;
    list-style: none;
    border-bottom: solid 3px #f2f2f2;
    border-top: solid 3px #f2f2f2;
    border-right: solid 3px #f2f2f2;
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}

@media all and (max-width: 768px){
    #filtre li{
        margin-bottom: 25px;
    }
}

#filtre li:hover{
    background-color: #DEEBFF;
}

.fa-money-bill-wave{
    background-color:#DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding : 15px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.fa-child{
    background-color:#DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding : 15px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.fa-heart{
    background-color:#DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding : 15px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.fa-dog{
    background-color:#DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding : 15px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}


.fa-info-circle{
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    background-color: #0065FC;
    color: white;
    font-size: 1.2em;
    padding: 0;
    margin-right: 10px;
}

#filtre ul.fa{
    background-color:#DEEBFF;
    border-radius: 50%;
    padding : 15px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

#boxgenerale{
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 768px){
    #boxgenerale{
        display: flex;
        justify-content: start;
        flex-direction: column-reverse;
        padding: 0;
        width: 100%
    }
}

#hebergements{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 2%;
    width: 60%;
    height: 625px; 
}

@media all and (max-width: 768px){
    #hebergements{
    background-color: white;
    border-radius: 0px;
    width: 92%;
    padding: 4%;
    height: auto;
    align-content: center;
    border: solid 1px black;
    }
}

.boxhebergement{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

@media all and (max-width: 768px){
    .boxhebergement{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        border: solid 1px green;
        margin: 0;
    }
}

.boxhebergement article{
    border-radius: 15px;
    background-color: white;
    width: 30%;
    height: 200px;
    padding: 5px;
}

@media all and (max-width: 768px){
    .boxhebergement article{
        width: 96%;
        box-shadow: 0 0 30px #f2f2f2;
        margin-bottom: 30px;
    }
}

.texteart{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
   
}

.imgheber{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 115px;
}

#plus{
    font-weight: bold;
    margin-top: 30px;
}

@media all and ( max-width: 768px){
    #plus{
        margin-top: 0px;
    }
}

#populaire{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 2%;
    width: 30%;
    height: 625px;
}

@media all and (max-width: 768px){
    #populaire{
        width: 92%;
        padding: 4%;
        height: auto;
        border-radius: 0px;
        align-items: center;
        border: solid 1px red;
    }
}

#boxtitrepopulaire{
    display: flex;
    align-items: baseline;
    width: 98%;
    justify-content: space-between;
}

.boxartpop{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 5px 0px 5px 5px;
    background-color: white; 
    width: 96%;
    height: 145px;
    align-items: center;
    margin-bottom: 30px;
    border: solid 1px red;
}

.articletexte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 130px;
    margin: 10px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.imagepop{
    width: 33%;
    height: 145px;
    border-radius: 15px 0px 0px 15px; 
}

#activites{
    height: 625px;
    padding-top: 2%;
    border: solid 1px black;
}

@media all and (max-width: 768px){
    #activites{
        padding: 4%;
        height: auto;
    }
}


#boxactivite{
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 768px){
    #boxactivite{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        border: solid 2px black;
    }
}

.texteactivite{
    padding: 15px;
    
}

.texteactivite h3{
    white-space: nowrap;
    overflow: hidden
}

.articlelong{
    border-radius: 15px;
    box-shadow: 0 0 30px #f2f2f2;
    height: 445px;
    width: 22.5%; 

}

@media all and (max-width: 768px){
    .articlelong{
        width: 98%;
        height: 190px;
        margin-bottom: 20px;
        border: solid 2px green;
    }
}

.boxarticledouble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 445px;
    width: 22.5%;
}

@media all and (max-width: 768px){
    .boxarticledouble{
        width: 98%;
        height: auto;
    }
}

#articledouble1{
    border-radius: 15px;
    box-shadow: 0 0 30px #f2f2f2;
    width: 100%;
    height: 240px;
}


#articledouble2{
    border-radius: 15px;
    box-shadow: 0 0 30px #f2f2f2;
    width: 100%;
    height: 165px;
}

#articledouble3{
    border-radius: 15px;
    box-shadow: 0 0 30px #f2f2f2;
    width: 100%;
    height: 195px;
}

#articledouble4{
    border-radius: 15px;
    box-shadow: 0 0 30px #f2f2f2;
    width: 100%;
    height: 210px;
}

@media all and (max-width: 768px){
    #articledouble1{
        height: 190px;
        margin-bottom: 20px;
    }

    #articledouble2{
        height: 190px;
        margin-bottom: 20px;
    }

    #articledouble3{
        height: 190px;
        margin-bottom: 20px;
    }

    #articledouble4{
        height: 190px;
        margin-bottom: 20px;
    }
}

.photoarticlelong{
    border-radius: 15px 15px 0px 0px;
    height: 390px;
    width: 100%;
}

@media (max-width: 768px){
    .photoarticlelong{
        width: 100%;
        height: 135px;
    }
}

.photoarticledouble1{
    border-radius: 15px 15px 0px 0px;
    height: 180px;
    width: 100%;
}

.photoarticledouble2{
    border-radius: 15px 15px 0px 0px;
    height: 110px;
    width: 100%;
}

.photoarticledouble3{
    border-radius: 15px 15px 0px 0px;
    height: 140px;
    width: 100%;
}

.photoarticledouble4{
    border-radius: 15px 15px 0px 0px;
    height: 150px;
    width: 100%;
}

@media all and (max-width: 768px){
    .photoarticledouble1{
        border-radius: 15px 15px 0px 0px;
        height: 135px;
        width: 100%;
    }

    .photoarticledouble2{
        border-radius: 15px 15px 0px 0px;
        height: 135px;
        width: 100%;
    }

    .photoarticledouble3{
        border-radius: 15px 15px 0px 0px;
        height: 135px;
        width: 100%;
    }
    
    .photoarticledouble4{
        border-radius: 15px 15px 0px 0px;
        height: 135px;
        width: 100%;
    }

}

.note{
    display: flex;
}

.ok{
    color: #0065FC;
}

.none{
    opacity: 20%;
}

footer{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
}

footer article{
    width: 33%;
    padding: 1% 2%;
}


@media (max-width: 768px){
    footer{
        flex-direction: column; 
        border: solid 1px red;
    }
    
    footer article{
        width: 94%;
        padding-left: 4%;
        border: solid 1px black;
    }
}

footer ul{
    list-style: none;
    padding: 0%;
    line-height: 30px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer h3{
    font-weight: bold;
}

